[
    (
        name: "cs_scale",
        source_name: "cs_scale",
        features: [
            "",// [0]
        ],
    ),// [0]
    (
        name: "cs_blur",
        source_name: "cs_blur",
        features: [
            "",// [0]
        ],
    ),// [1]
    (
        name: "cs_border_segment",
        source_name: "cs_border_segment",
        features: [
            "",// [0]
        ],
    ),// [2]
    (
        name: "cs_border_solid",
        source_name: "cs_border_solid",
        features: [
            "",// [0]
        ],
    ),// [3]
    (
        name: "brush_solid",
        source_name: "brush_solid",
        features: [
            "",// [0]
        ],
    ),// [4]
    (
        name: "brush_image",
        source_name: "brush_image",
        features: [
            "",// [0]
            "TEXTURE_2D",// [1]
            "TEXTURE_RECT",// [2]
            "DUAL_SOURCE_BLENDING",// [3]
            "TEXTURE_2D,DUAL_SOURCE_BLENDING",// [4]
            "TEXTURE_RECT,DUAL_SOURCE_BLENDING",// [5]
        ],
    ),// [5]
    (
        name: "brush_blend",
        source_name: "brush_blend",
        features: [
            "",// [0]
        ],
    ),// [6]
    (
        name: "brush_mix_blend",
        source_name: "brush_mix_blend",
        features: [
            "",// [0]
        ],
    ),// [7]
    (
        name: "brush_yuv_image",
        source_name: "brush_yuv_image",
        features: [
            "",// [0]
            "TEXTURE_2D",// [1]
            "TEXTURE_RECT",// [2]
        ],
    ),// [8]
    (
        name: "brush_radial_gradient",
        source_name: "brush_radial_gradient",
        features: [
            "",// [0]
        ],
    ),// [9]
    (
        name: "brush_linear_gradient",
        source_name: "brush_linear_gradient",
        features: [
            "",// [0]
        ],
    ),// [10]
    (
        name: "cs_clip_rectangle",
        source_name: "cs_clip_rectangle",
        features: [
            "",// [0]
        ],
    ),// [11]
    (
        name: "cs_clip_box_shadow",
        source_name: "cs_clip_box_shadow",
        features: [
            "",// [0]
        ],
    ),// [12]
    (
        name: "cs_clip_image",
        source_name: "cs_clip_image",
        features: [
            "",// [0]
        ],
    ),// [13]
    (
        name: "cs_line_decoration",
        source_name: "cs_line_decoration",
        features: [
            "",// [0]
        ],
    ),// [14]
    (
        name: "ps_text_run",
        source_name: "ps_text_run",
        features: [
            "",// [0]
            "DUAL_SOURCE_BLENDING",// [1]
        ],
    ),// [15]
    (
        name: "ps_split_composite",
        source_name: "ps_split_composite",
        features: [
            "",// [0]
        ],
    ),// [16]
    (
        name: "debug_color",
        source_name: "debug_color",
        features: [
            "",// [0]
        ],
    ),// [17]
    (
        name: "debug_font",
        source_name: "debug_font",
        features: [
            "",// [0]
        ],
    ),// [18]
]
