[
    (
        name: "cs_blur",
        source_name: "cs_blur",
        features: [
            "ALPHA_TARGET",// [0]
            "COLOR_TARGET",// [1]
        ],
    ),// [0]
    (
        name: "brush_solid",
        source_name: "brush_solid",
        features: [
            "",// [0]
            "ALPHA_PASS",// [1]
        ],
    ),// [1]
    (
        name: "brush_image",
        source_name: "brush_image",
        features: [
            "",// [0]
            "ALPHA_PASS",// [1]
        ],
    ),// [2]
    (
        name: "brush_blend",
        source_name: "brush_blend",
        features: [
            "",// [0]
            "ALPHA_PASS",// [1]
        ],
    ),// [3]
    (
        name: "brush_mix_blend",
        source_name: "brush_mix_blend",
        features: [
            "",// [0]
            "ALPHA_PASS",// [1]
        ],
    ),// [4]
    (
        name: "brush_yuv_image",
        source_name: "brush_yuv_image",
        features: [
            "YUV_NV12,YUV_601",// [0]
            "YUV_NV12,YUV_709",// [1]
            "YUV_PLANAR,YUV_601",// [2]
            "YUV_PLANAR,YUV_709",// [3]
            "YUV_INTERLEAVED,YUV_601",// [4]
            "YUV_INTERLEAVED,YUV_709",// [5]
            "YUV_NV12,YUV_601,ALPHA_PASS",// [6]
            "YUV_NV12,YUV_709,ALPHA_PASS",// [7]
            "YUV_PLANAR,YUV_601,ALPHA_PASS",// [8]
            "YUV_PLANAR,YUV_709,ALPHA_PASS",// [9]
            "YUV_INTERLEAVED,YUV_601,ALPHA_PASS",// [10]
            "YUV_INTERLEAVED,YUV_709,ALPHA_PASS",// [11]
        ],
    ),// [5]
    (
        name: "brush_radial_gradient",
        source_name: "brush_radial_gradient",
        features: [
            "",// [0]
            "ALPHA_PASS",// [1]
            "DITHERING",// [2]
            "DITHERING,ALPHA_PASS",// [3]
        ],
    ),// [6]
    (
        name: "brush_linear_gradient",
        source_name: "brush_linear_gradient",
        features: [
            "",// [0]
            "ALPHA_PASS",// [1]
            "DITHERING",// [2]
            "DITHERING,ALPHA_PASS",// [3]
        ],
    ),// [7]
    (
        name: "cs_clip_rectangle",
        source_name: "cs_clip_rectangle",
        features: [
            "TRANSFORM",// [0]
        ],
    ),// [8]
    (
        name: "cs_clip_box_shadow",
        source_name: "cs_clip_box_shadow",
        features: [
            "TRANSFORM",// [0]
        ],
    ),// [9]
    (
        name: "cs_clip_image",
        source_name: "cs_clip_image",
        features: [
            "TRANSFORM",// [0]
        ],
    ),// [10]
    (
        name: "cs_clip_border",
        source_name: "cs_clip_border",
        features: [
            "TRANSFORM",// [0]
        ],
    ),// [11]
    (
        name: "cs_clip_line",
        source_name: "cs_clip_line",
        features: [
            "TRANSFORM",// [0]
        ],
    ),// [12]
    (
        name: "ps_text_run",
        source_name: "ps_text_run",
        features: [
            "",// [0]
            "TRANSFORM",// [1]
            "GLYPH_TRANSFORM",// [2]
            "DUAL_SOURCE_BLENDING",// [3]
            "DUAL_SOURCE_BLENDING,TRANSFORM",// [4]
            "DUAL_SOURCE_BLENDING,GLYPH_TRANSFORM",// [5]
        ],
    ),// [13]
    (
        name: "ps_image",
        source_name: "ps_image",
        features: [
            "",// [0]
            "TRANSFORM",// [1]
        ],
    ),// [14]
    (
        name: "ps_border_corner",
        source_name: "ps_border_corner",
        features: [
            "",// [0]
            "TRANSFORM",// [1]
        ],
    ),// [15]
    (
        name: "ps_border_edge",
        source_name: "ps_border_edge",
        features: [
            "",// [0]
            "TRANSFORM",// [1]
        ],
    ),// [16]
    (
        name: "ps_split_composite",
        source_name: "ps_split_composite",
        features: [
            "",// [0]
        ],
    ),// [17]
    (
        name: "debug_color",
        source_name: "debug_color",
        features: [
            "",// [0]
        ],
    ),// [18]
    (
        name: "debug_font",
        source_name: "debug_font",
        features: [
            "",// [0]
        ],
    ),// [19]
]